
.titulos{   
    height: 6.75em;  
}
#h1_dategusto{
    display: inline; 
    font-family: cursive;
    font-size: 5em;
    padding: 0.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    color:rgb(246, 158, 22);      
} 
.barra_nav_registrate{
    background-color: rgb(83, 44, 44);
    transition: all 0.2s;    
}
.barra_nav{
    float: right;        
    /*display: inline-block;*/  /*i dont know why this isnt necesary but it works anyway*/
    font-size: 2em;
    padding: 1em;
    width: 50%;    
}
.barra_nav a{
    padding-left: 0.2em;
    padding-right: 0.2em;
    color: goldenrod;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    border-radius: 45px;
    
}
a:hover{
    color:aqua;
}
.content{
    background:radial-gradient(circle, rgb(246, 158, 22), rgb(255, 102, 0));
    height: 40em;
    width: 100%;

}

.content img{
    float: right;
    width: 50%;          
}
.content{
    display: flex;
    justify-content: center;
    position: relative;
}

footer{
    background-color: rgb(0, 0, 0);
    height: 20em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}
footer h3{    
    display: inline;
      
    font-size: 5em;
    padding: 0.5em;
    text-shadow: 2px 2px 2px rgb(255, 0, 0);
    color:rgb(255, 255, 255);  
}
footer p{
    padding-left: 2em;
    float: left;
    font-size: 3em;   
    text-shadow: 2px 2px 2px rgb(255, 238, 2);
    color:rgb(255, 0, 0); 
}
footer div{
    font-size: 2em;
    float: right;
    padding-right: 2em;
} 
footer div a{
    color: rgb(255, 0, 0);
    text-decoration: none;
    padding: 2em;
    border-radius: 45px;
}
footer div a:hover{
    
    background-color: rgb(83, 44, 44);
}

.form-container {
    width: 300px;
    height: fit-content;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center; 
    position: absolute;
    top: 100px;
}
/*aqui empieza lo otro */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"], input[type="password"],input[type = "email"] {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}
@media (max-width: 600px) {
    h3{
        padding: 0.3em !important;
    }
}
